<ng-container *ngIf="request">
  <div class="modal d-block" tabindex="-1" (click)="cancelled.emit()">
    <div class="modal-dialog modal-dialog-centered" (click)="$event.stopPropagation()">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">{{ request.title }}</h5>
          <button
            type="button"
            class="btn-close"
            aria-label="Close"
            (click)="cancelled.emit()"
          ></button>
        </div>
        <div class="modal-body">
          <p class="mb-0">{{ request.message }}</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-outline-secondary" (click)="cancelled.emit()">
            Cancel
          </button>
          <button type="button" class="btn btn-danger" (click)="confirmed.emit()">
            {{ request.confirmLabel }}
          </button>
        </div>
      </div>
    </div>
  </div>
  <div class="modal-backdrop show"></div>
</ng-container>
